/* home.module.css */

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.animate_zoom {
  animation: zoom 3s infinite;
}
