@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.04) 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: center;
  font-family: "Poppins", sans-serif;
}

.swiper {
  overflow-y: visible !important;
}
.swiper-pagination {
  position: absolute !important;
  bottom: -40px !important;
}
