/* Animation for the inner div when hiding */
.showInnerDiv {
  animation: showInnerDiv 1s forwards;
}

/* Animation for the inner div when showing */
.hideInnerDiv {
  animation: hideInnerDiv 1s forwards;
}

/* Animation keyframes for the inner div when showing */
@keyframes showInnerDiv {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Animation keyframes for the inner div when hiding */
@keyframes hideInnerDiv {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
